.popular {
    margin: auto;
}

.popular h2 {
    font-size: 25px;
    margin-left: 420px;
    display: inline-block;
    vertical-align: middle;
}

/* 정렬 버튼 */
.week-month {
    font-family: 'GowunDodum-Regular';
    display: inline-block;
    float: right;
    margin-right: 420px;
    margin-top: 20px;
    font-size: 16px;
    vertical-align: middle;

    appearance: none; /* 기본 브라우저 스타일 제거 */
    -webkit-appearance: none; 
    -moz-appearance: none;
    background-color: #385F41;
    border: 2px solid #385F41;
    border-radius: 10px;
    color: #ffffff;
    padding: 6px 25px;
    cursor: pointer;
    text-align: center;
    text-align-last: center; 
}

.week-month option {
    background-color: #FFFFFF;
    color: #385F41;
    font-family: 'GowunDodum-Regular';
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

/* 선택된 옵션 스타일 */
.week-month option[selected] {
    font-family: 'GowunDodum-Regular';
    background-color: #ffffff; /* 선택된 옵션 배경색 */
    border: 2px solid #385F41;
}

/* 리스트 항목에 마우스 hover 시 배경색 변경 및 텍스트 정중앙 배치 */
.week-month option:hover {
    background-color: #CBDFCF;
    text-align: center;
}

/* select 클릭 시 border 제거 */
.week-month:focus {
    outline: none;
    border: 2px solid #385F41; /* focus 시 border 유지 */
}

.week-month:focus-visible {
    outline: none; /* focus 시 outline 제거 */
}




/* 인기레시피 */
.recipes-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.carousel-button {
    font-size: 30px;
    font-weight: 700;
    color: #142618;
    background: none;
    border: none;
    cursor: pointer;
}

.recipes {
    display: flex;
    gap: 20px;
}

.recipe {
    width: 300px;
    text-align: center;
}

.recipe img {
    width: 120px;
    height: 120px;
}

.recipe img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recipe-title {
    font-size: 20px;
    font-weight: 700;
    color: #142618;
    margin: 10px 0;
}

.recipe {
    text-align: center;
}



