<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>밥 묵자</title>
    <link rel="stylesheet" th:href="@{/css/Top_ui.css}">
    <link rel="stylesheet" th:href="@{/css/recipes_detail.css}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo" id="logo">
                <a href="/main" class="no-underline">
                    <p>밥 묵자</p>
                </a>
                <img th:src="@{/images/rice_bowl.png}" alt="밥 묵자 로고">
            </div>
            <nav>
                <ul class="menu">
                    <li><a th:href="@{/main}">레시피</a></li>
                    <li><a th:href="@{/store}">스토어</a></li>
                    <li><a th:href="@{/Today}">오늘 뭐 먹지?</a></li>
                </ul>
            </nav>
        </div>
        <hr class="divider">
        <div id="dropdown-content" class="dropdown-content">
            <p id="user-email">bab@naver.com</p>
            <hr>
            <a href="#" class="edit-info">정보 수정</a>
            <div class="dropdown-buttons">
                <div class="combined-buttons">
                    <a th:href="@{/bookmark}" class="bookmark-btn"><img th:src="@{/images/bookmark_n.png}" alt="책갈피 아이콘"> 책갈피</a>
                    <a th:href="@{/logout}" class="logout-btn"><img th:src="@{/images/Logout.png}" alt="로그아웃 아이콘"> 로그아웃</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="recipe-container">
            
            <div class="foodimg">
                <p>양지수육전골</p>
                <div class="recipe-image">
                    <img src="/images/images%201.png" alt="양지수육전골">
                </div>
            </div>
            <div class="icon-container">
                <div class="icon-left">
                    <div class="rating">
                        <span>★ 9.99 / 10</span>
                    </div>
                </div>
                <div class="icon-right">
                    <div class="share">
                        <img src="/images/Share%202.png" alt="공유 아이콘">
                    </div>
                    <div class="bookmark">
                        <img id="bookmark-icon" src="/images/bookmark.png" alt="북마크 아이콘" onclick="toggleBookmark()">
                    </div>
                </div>
            </div>
            
            <div class="details">
                <a href="https://www.coupang.com/np/categories/393760" class="material-link" target="_blank">부족한 재료 가지러 가기 > </a>
                <div class="detail-tap1">
                    <p>재료</p>
                    <div class="toggle-button" onclick="toggleDetails('ingredients')">
                        <div class="btn">자세히 보기
                            <img id="ingredients-icon" src="/images/Chevrondown.png" alt="토글 아이콘">
                        </div>
                    </div>
                </div>  
                <div id="ingredients" class="content">
                    <p>감자 . 5만개</p>
                </div>
                <div class="detail-tap2">
                    <p>Recipe</p>
                    <div class="toggle-button" onclick="toggleDetails('recipe')">
                        <div class="btn">자세히 봐야 맛있어진다
                            <img id="recipe-icon" src="/images/Chevrondown.png" alt="토글 아이콘">
                        </div>
                    </div>
                </div>
                <div id="recipe" class="content">
                    <p>Step1 . aagafafaf</p>
                </div>
            </div>
        </div>
    </main>
    
    <script th:src="@{/js/Top_ui.js}"></script>
    <script th:src="@{/js/recipes_detail.js}"></script>
</body>
</html>
